#newUserContainer {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: calc(100vh - 100px);
    display: flex;
    margin: 0.8rem auto 0;
    // background-color: orange;

    // SIGNUP SECTION
    #signUpContainer {
        width: 47%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        h1 {
            display: flex;
            color: var(--white);
            padding-bottom: 1rem;
            margin-top: 2rem;
        }
    
        form {
            width: 100%;  
            display: flex;
            flex-direction: column;
            // margin-right: 1rem;            

            #buttonAdd {
                width: 60%;
                height: 40px;
                border: 0;
                background-color: var(--green-900);
                font-weight: bold;
                font-size: 1.2rem;
                border-radius: 0.3rem;
                color: var(--dark-700)
            }  

            #buttonAddDISABLED{
                width: 60%;
                height: 40px;
                border: 0;
                background-color: var(--green-900);
                font-weight: bold;
                font-size: 1.2rem;
                border-radius: 0.3rem;
                color: var(--dark-700);
                opacity:  0.5;
            }

            #buttonClean {
                width: 39%;
                height: 40px;
                border: 0;
                background-color: var(--red-900);
                font-weight: bold;
                font-size: 1.2rem;
                border-radius: 0.3rem;
                color: var(--dark-700);
                margin-left: 1%;
            }

            #buttonCleanDISABLED {
                width: 39%;
                height: 40px;
                border: 0;
                background-color: var(--red-900);
                font-weight: bold;
                font-size: 1.2rem;
                border-radius: 0.3rem;
                color: var(--dark-700);
                margin-left: 1%;
                opacity:  0.5;
            }  
        }
    }

    //DIVISORY IN THE MIDDLE OF CONTAINERS
    #divisory {
        width: 0.2%;
        background-color: var(--dark-700);
        margin: 0 1rem;
        // background-color: antiquewhite;
    }

    // USERS LIST SECTION
    #userContainer {
        width: 53%;
        overflow-x: none;
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;
        color: var(--white);
        // margin-left: 1rem;
        overflow-x: scroll;

        #userContainerHeader{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            h1 {
                display: flex;
                justify-content: right;
                width: 70%;
                // background-color: antiquewhite;
            }

            #refreshButton {
                background: transparent;
                width: 30%;
                border: 0;
                // background-color: aquamarine;
                // margin-left: 0.5rem;
                color: var(--green-900);
                font-size: 22px;
                padding-top: 0.3rem;
            }
        }

        
        
        ul.userList {
            padding: 1rem 0;
            width: 100%;
            display: inherit;
            flex-direction: inherit;
            align-items: center;

            
            li {
                width: inherit;
                display: flex;
                align-items: center;
                text-align: center;
                margin-bottom: 1rem;

                list-style-type: circle;
                padding: 0.4rem 0.3rem;
                border-radius: 0.4rem;
                background-color: var(--dark-700);

                .userStatusOn {
                    background-color: var(--main-button);
                }
                .userStatusOff {
                    background-color: var(--red-900);
                }

                .userStatusOn, .userStatusOff {
                    border: 0px;
                    font-weight: bold;
                }

                .userInfo, .userInfo {
                    width: 49%;
                    margin: 0 1%;
                    padding: 0.5rem 1rem;
                    border-radius: 0.3rem;
                }

                
            }
        }
    }
 
}